@import '../../style/common/variables';
/* globally used */
.global-heading{
	
	text-align:center;
	margin:48px 0 48px 0;
	padding-left:40px;
	padding-right:40px;
	&.bg-bottom{
		background:url('/assets/dots.svg') no-repeat center bottom;
		padding-bottom:36px;
	}
	&.bg-top{
		background:url('/assets/dots.svg') no-repeat center top;
		padding-top:36px;
	}
	
	h2{
		font-size:2.4rem;
		font-weight:800;
		line-height: 2.8rem;
		
	}
}
.bold{
	font-weight:800;
}
.globalshadow{
	text-align:center;
	background:url('/assets/dots.svg') no-repeat center center;
	padding:12px 0px;
}
/* ===============================banner section styling=============================== */
.banner-wrapper{
	// background-image: linear-gradient(to top, #00b1ff, #0051be 53%, #00319c 67%, #00091d);
	 
	background-image: url('/assets/bg.png'), linear-gradient(to top, #00b1ff, #0051be 53%, #00319c 67%, #00091d);
	position: relative;
}
.extra-padding{
padding-bottom:185px;
}
.banner-inner{
 color:#fff;
 padding:42px 0;
 
 
}
.dot-box{
	width:63px;
	height:142px;
	position:absolute;
	right:-15px;
	top:0px;
	background: url('/assets/small-dots.png') left top;
	background-size: 12px 11px;
	opacity: 0.1;
	z-index:0;
}
.banner-txt{
	text-align: center;
	h3{
		margin-top:16px;
		font-size:1.4rem;
		line-height: 2.0rem;
		padding:0 30px;
	}
	.banner-blue-btn{
		margin:32px 0 0 0;
		padding:0 41px;
		min-height:52px;
		font-size:1.6rem;
		line-height: 2.0rem;
		font-weight:600;
	}
}
.banner-btn-box{
	img{
		display:block;
		margin:0 auto;
	}
}
.banner-pic{
	margin-top:44px;
}
.banner-heading1{
	font-size:2.2rem;
	line-height: 2.4rem;
	font-weight:bold;
}
.banner-heading2{
	font-size:1.4rem;
	line-height: 2.0rem;
	font-weight: normal;
}
.dots{
	position: relative;
}




/* ======================== Choose Paytm for your Business ============================ */
.business-row-box{
	padding-right:0;
	&:last-child{
		.business-step-box{
			margin-bottom:0;
			
		}
		.step-box-detail{
			border-bottom:none;
		}
	}
}
.business-step-box{
padding:0 0 0 0;
margin-bottom:24px;

}
.blue-box{
 width:42px;
 height:42px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 border-radius:50%;
 background:#00b9f5  linear-gradient(161deg, #01b9f5, #368cf5);
 float:left;
 position: relative;
 top:0px;
}
.step-box-detail{
	width:calc(100% - 60px);
	display:inline-block;
	border-bottom: 1px solid $line;
	padding:0 15px 22px 0px;
	margin-left:16px;
	p{
		margin:8px 0 12px 0;
	}
	.terms-para{
		margin-top:3px;
		margin-bottom:0;
		}
}
.btn-strip{
 border:1px solid $line;
 height:52px;
 line-height: 52px;
 padding:0 20px;
 margin-bottom:16px;
 a{
	 font-size:1.6rem;
	 line-height: 2.0rem;
	 cursor: pointer;
	 font-weight: 800;
 }
}

/* =========================== client slider section ============================= */
.client-wrap{
	margin:12px 0 0 0;
}
.client-box{
	width:33.33%;
	display: inline-block;
	text-align: center;
	margin:0px 0px 42px 0;;
}
.client-img-wrap{
	width:62px;
	height:62px;
	border:1px solid $line;
	margin:0 auto 12px auto;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.client-heading{
	font-size:1.8rem;
	line-height:2.4rem;
	font-weight: normal;
	padding:0 48px;
	text-align: center;
	margin-top:24px;
	margin-bottom:32px;
}

/* ===================== testimonial ====================== */
.testimonial-box{
	padding:17px 16px 22px 16px;
	position: relative;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
	box-shadow: 0 8px 32px 9px rgba(224, 224, 224, 0.3);
	background-color: #ffffff;
	margin-bottom:80px;  
	p{
		font-size:1.2rem;
		line-height: 1.6rem;
		
	}
}
.test-user-name{
	color:$headcolor;
}
.testimonial-main-heading{
text-align:center;
padding:47px 0 46px 0;
background:url('/assets/dots.svg') no-repeat center top;
h3{
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-weight:800;
	padding:0 20px;
	span{
		&:first-child{
			margin-right:15px;
		}
		&:last-child{
			margin-left:15px;
		}
	}
}
}
.test-heading{
	font-size:1.4rem;
	line-height: 2.0rem;
	font-weight: 800;
	margin-bottom: 8px;
}
.test-img-box{
	margin-top:29px;
	div{
		max-width:230px;
	}
	img{
		width:41px;
		height:41px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-top: 45px solid $white;
	position: absolute;
	bottom:-45px;
	right:70px;
	
  }
  /* ================ paytm accepted everywhere =============== */
.promotion-box{
    background: $backgroundColor;
    padding:40px 0;
}
.promo-dscrpt{
text-align: center;
}
.app-download{
text-align: center;
margin-top:45px;
}
.promo-heading{
margin-top:24px;
margin-bottom:20px;
}
.app-img{
max-width:157px;
}
.promo-small-heading{
margin-bottom:25px;
}
  
@media (min-width:768px){
	.section-wrap{
		max-width:1110px;
		margin:0 auto;
	}
	/* ===============================banner section styling=============================== */
	.banner-inner{
		padding-bottom:53px;
	}
	.dot-box{
		width: 186px;
    	top: 76px;
    	background-size: 17px 15px;
    	height: 165px;
	}
	.banner-txt{
		text-align:left;
		h2{
			margin-top:95px;
			
		}
		h3{
			font-size:1.6rem;
			font-weight: normal;
			max-width:395px;
			padding:0px;
		}
		.banner-blue-btn{
			min-height:56px;
		}
	}
	.banner-pic{
		margin-top:6px;
	}
	
	.banner-heading1{
		font-size:3.6rem;
		line-height: 4.2rem;
		font-weight:bold;
	}
	.bannerImg1{
		margin-top:16px;
		position: relative;
		right:-30px;
	}







	/* ======================== Choose Paytm for your Business ============================ */
	.business-steps{
		.row{
			margin:0;
		}
	}
	.business-row{
		margin-left:0;
		margin-right:0;
	}
	.business-row-box{
		border-top:1px solid $line;
		border-right:1px solid $line;
		&:nth-child(3n){
			border-right:none;
		}
		&:nth-child(1),&:nth-child(2),&:nth-child(3){
			border-top:none;
		}
		
		&:nth-child(4),&:nth-child(5),&:nth-child(6){
			padding-top:48px;
			.business-step-box{
				margin-bottom:0;
				padding-bottom:0;
				.step-box-detail{
					padding-bottom:0;
					p{
						margin-bottom:0;
					}
				}
			}
		}
		
	}

	.business-step-box{
		padding:0px 15px 15px 45px;
		margin-bottom:6px;
		
		
	}
	.step-box-detail{
		border-bottom:none;
		padding:0 0 24px 0px;
	}
	.blue-box{
		float:none;
		top:0;
	}
	.step-box-detail{
		margin-left:0;
		p{
		margin-top:16px;
		margin-bottom:24px;
		}
		width:100%;
		h4{
			margin-top:24px;
		}
		a{
			color:$primary;
			border:1px solid $line;
			font-size: 1.4rem;
			padding: 0px 15px;
			min-height: 40px;
			border-radius: 2px;
			line-height: 40px;
			display:inline-block;
			font-weight: 600;
    		cursor: pointer;
		}
	}
	
	/* ================= testimonial =========================== */
	.testimonial-wrap{
        margin-bottom:230px;
	}
	.testimonial-box{
		padding-bottom:32px;
		margin-bottom:40px;
		p{
			font-size:1.4rem;
			line-height: 2.0rem;
			
		}
		
		.test-user-name{
			font-weight:600;
		}
	}
	.testimonial-main-heading{
		padding-bottom:134px;
		h3{
		font-size: 3.0rem;
		line-height: 3.2rem;
		span{
			&:first-child{
				margin-right:66px;
			}
			&:last-child{
				margin-left:66px;
				svg{
					-webkit-transform: scaleY(-1);
					transform: scaleY(-1);
					position: relative;
					top:71px;
				}
			}
		}
		}
		svg{
			width:106px;
			height:87px;
		}
	}
	/* ================= global for desktop ===================== */
	
	.global-heading{
		margin:135px 0 140px 0;
		padding-bottom:0;
		position: relative;
		&.bg-bottom{
			background:none;
			padding-bottom:0;
		}
		&.bg-top{
			background:none;
			padding-top:0;
		}
		&::before{
			content: "";
			background: url('/assets/dots.svg') no-repeat center left -100px;
			width:200px;
			height:36px;
			position: absolute;
			left:0;
			top:10px;
		}
		&::after{
			content: "";
			background: url('/assets/dots.svg') no-repeat center right -100px;
			width:200px;
			height:36px;
			position: absolute;
			right:0;
			top:10px;
		}
	 h2{
		 font-size:4.2rem;
		 line-height:4.2rem;
		 font-weight:800;
		 padding:0 150px;
		 
	 }
	}
	.dsktp-pad-top0{
		padding-top:0;
	}
	.dsktp-pad-bottom0{
		padding-bottom:0;
	}
	/* global end */
	
	/* ================ paytm accepted everywhere =============== */
.promotion-box{
    background:none;
    padding:0;
}
.promo-inner{
    background: $backgroundColor;
    padding:40px 59px;
}
.promo-logo-wrap{
    float:left;
    margin-right:50px;
    svg{
        font-family: 'Nunito Sans', sans-serif;
    }
}
.promo-dscrpt{
text-align: left;
}
.app-download{
text-align: center;
margin-top:45px;
}
.promo-heading{
margin-top:24px;
margin-bottom:20px;
}
.app-img{
max-width:157px;
}
.promo-small-heading{
margin-bottom:25px;
}
}


