@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,800');

body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal; 
    font-family: 'Nunito Sans', sans-serif;
}


@media all and (max-width: 767px){

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }
    
    h1 {
        font-size: 2.0rem;
        line-height: 4.0rem;
    }
    
    h2 {
        font-size: 1.8rem;
        line-height: 3.6rem;
    }
    
    h3 {
        font-size: 1.6rem;
        line-height: 2.0rem;
        font-weight: 800;
    }
    
    h4{
        font-size: 1.6rem;
        line-height: 2.0rem;
        font-weight: 600;
    }
    h5{
        font-size: 1.4rem;
        line-height: 2.0rem;
        font-weight: 700;
    }
    h6 {
        font-size: 1.4rem;
        line-height: 2.0rem;
    }
    
    p {
        font-size: 1.4rem;
        line-height: 1.43;
        color: $dark4;
    }
}

@media(min-width:768px){

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 2.0rem;
    line-height: 4.0rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 3.6rem;
}


h5,
h6 {
    font-size: 1.4rem;
    line-height: 2.0rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.43;
    color: $dark4;
}
h3 {
    font-size: 2.0rem;
    line-height: 2.4rem;
    font-weight: 800;
}
h4 {
    font-size: 2.0rem;
    line-height: 2.4rem;
    font-weight: 600;
}


}